In [1]:
# Import the dependencies
import pandas as pd
import gmaps
import requests
from config import g_key

In [2]:
city_data_df = pd.read_csv('weather_data/cities.csv')
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Antalaha,MG,2021-11-14 05:58:55,-14.9003,50.2788,81.97,59,65,5.73
1,1,Karratha,AU,2021-11-14 05:58:55,-20.7377,116.8463,89.80,18,31,15.35
2,2,Agirish,RU,2021-11-14 05:58:55,61.9247,63.0231,12.06,87,24,4.72
3,3,Sao Joao Da Barra,BR,2021-11-14 05:58:56,-21.6403,-41.0511,66.96,68,98,5.73
4,4,Mar Del Plata,AR,2021-11-14 05:58:56,-38.0023,-57.5575,65.08,89,90,1.99

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use Google API key
gmaps.configure(api_key=g_key)

In [9]:
# Get the maximum temperature
max_temp = city_data_df['Max Temp']
temps = []
for temp in max_temp:
    temps.append(max(temp,0))

In [18]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Ask the customer to add a minimum and maximum temperature value
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?75
What is the maximum temperature you would like for your trip?90

In [22]:
# Filter the dataframe to find the cities that fit the criteria
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp'] >= min_temp) & (city_data_df['Max Temp'] <= max_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Antalaha,MG,2021-11-14 05:58:55,-14.9003,50.2788,81.97,59,65,5.73
1,1,Karratha,AU,2021-11-14 05:58:55,-20.7377,116.8463,89.80,18,31,15.35
8,8,Georgetown,MY,2021-11-14 05:56:44,5.4112,100.3354,85.95,75,20,5.01
11,11,Avarua,CK,2021-11-14 05:58:58,-21.2078,-159.7750,75.25,88,40,3.44
12,12,Hirara,JP,2021-11-14 05:58:58,24.8000,125.2833,75.06,73,75,14.97
15,15,Touros,BR,2021-11-14 05:58:59,-5.1989,-35.4608,79.70,71,33,15.57
16,16,Mogadishu,SO,2021-11-14 05:56:47,2.0371,45.3438,84.07,84,75,11.50
20,20,Saint-Philippe,RE,2021-11-14 05:55:21,-21.3585,55.7679,83.79,73,88,15.10
26,26,Paciran,ID,2021-11-14 05:59:02,-6.8767,112.3761,79.59,81,100,2.39
32,32,Tabou,CI,2021-11-14 05:59:04,4.4230,-7.3528,76.46,87,61,2.21

In [23]:
preferred_cities_df.count()

City_ID       139
City          139
Country       138
Date          139
Lat           139
Lng           139
Max Temp      139
Humidity      139
Cloudiness    139
Wind Speed    139
dtype: int64

In [24]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates
hotel_df = preferred_cities_df[['City', 'Country', 'Max Temp', 'Lat', 'Lng']].copy()
hotel_df['Hotel Name'] = ''
hotel_df.head()

          City Country  Max Temp      Lat       Lng Hotel Name
0     Antalaha      MG     81.97 -14.9003   50.2788
1     Karratha      AU     89.80 -20.7377  116.8463
8   Georgetown      MY     85.95   5.4112  100.3354
11      Avarua      CK     75.25 -21.2078 -159.7750
12      Hirara      JP     75.06  24.8000  125.2833

In [25]:
# Set parameters to search for a hotel
params = {'radius':5000, 'type':'lodging', 'key':g_key}

In [27]:
# Iterate through the dataframe
for index, row in hotel_df.iterrows():
    # Get latitude and longitude
    lat = row['Lat']
    lng = row['Lng']
    
    # Add the latitude and longitude to location key for the params dictionary
    params['location'] = f'{lat},{lng}'
    # Use the search term: "lodging" and our latitude and longitude
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [28]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Antalaha,MG,81.97,-14.9003,50.2788,Hotel Vitasoa
1,Karratha,AU,89.80,-20.7377,116.8463,ibis Styles Karratha
8,Georgetown,MY,85.95,5.4112,100.3354,Cititel Penang
11,Avarua,CK,75.25,-21.2078,-159.7750,Paradise Inn
12,Hirara,JP,75.06,24.8000,125.2833,Hotel Atoll Emerald Miyakojima

In [31]:
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [ ]:
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig